<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false">
    <testsuites>
        <testsuite name="all">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
            </exclude>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-html" target="build/logs/html"/>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>

    <php>
        <env name="app.baseURL" value="http://example.com"/>
        <env name="CI_ENVIRONMENT" value="testing"/>
<!--        <env name="database.tests.DBDriver" value="MySQLi"/>-->
<!--        <env name="database.tests.database" value="mythauth"/>-->
<!--        <env name="database.tests.username" value="root"/>-->
        <env name="database.tests.DBDriver" value="SQLite3"/>
        <env name="database.tests.database" value=":memory:"/>
<!--        <env name="database.tests.DBPrefix" value="handlers_"/>-->
    </php>
</phpunit>
